* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 300;
}
b {
    font-weight: bold;
}
.content {
    width: 80%;
    min-width: 1200px;
    margin: 0 auto;
}
/*HEADER*/
#headerGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#headerGrid div {
    text-align: center;
    padding: 15px;
}
#headerGrid div:first-child {
    text-align: left;
}
#headerGrid .email-link {
    color: rgb(231, 76, 60);;
}
header #menuWrapper {
    background: #333;
    /*padding: 15px;*/

}
header #menu {
    text-align: center;
}
header #menu a {
    color: white;
    text-decoration: none;
}
header #menu .item {
    display: inline-block;
    padding: 15px;
    font-weight: normal;
    font-size: 1.5em;
}
header #menu .item:hover {
    background: rgb(231, 76, 60);;
}
/*MAIN BLOCK*/
#mainBlockWrapper {
    background: url("../img/main-bg.png");
    background-size: cover;
    height: 1100px;
    color: white;
}
#mainBlockWrapper .title {
    text-align: center;
    padding: 45px 0;
    font-weight: 400;
    font-size: 6em;
}
#mainBlock #mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#mainGrid ul {
    display: inline-block;
    font-size: 3em;
    text-align: left;
    margin-top: 200px;
}
#mainGrid #advantages {
    text-align: center;
}
#applicationForm h2 {
    text-align: center;
}
#applicationForm {
    border: 5px solid rgb(231, 76, 60);;
    background: white;
    border-radius: 30px;
    padding: 30px;
    color: black;
}
#applicationForm input, #applicationForm textarea{
    width: calc(100% - 30px);
    padding: 15px;
    font-size: 1em;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
    /*background: #f4f8ff;*/
}
#applicationForm textarea {
    resize: none;
}
#applicationForm button {
    width: 100%;
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    color: white;
    background: rgb(231, 76, 60);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);
}
#applicationForm button:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    position: relative;
    top: 5px;
    cursor: pointer;
}
/*OUR PRODUCTION BLOCK*/
#ourProductionWrapper {
    /*margin-top: 30px;*/
    background: #f1f1f1;
    padding: 30px 0;
}
#ourProductionWrapper h1 {
    text-align: center;
    padding: 15px;

}
#ourProductionWrapper p {
    text-align: center;
}
#ourProductionGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#ourProductionGrid img {
    width: 100%;
    border-radius: 3px;
}

#ourProductionGrid div {
    text-align: center;
    font-size: 1.5em;
}
#ourProductionGrid div p {
    /*width: 70%;*/
    margin: 10px auto;
}
#ourProductionGrid div button {
    width: 100%;
    padding: 15px 0;
    border: 0;
    border-radius: 5px;
    background: gold;
    font-size: 0.8em;
    font-weight: 400;
    background: rgb(231, 76, 60);
    color: white;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);

}
#ourProductionGrid div button:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    position: relative;
    top: 5px;
    cursor: pointer;
    transition: 300ms;
}
/*PARTNERS*/
#partnersBlock {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#partnersBlock .img-block img {
    width: 100%;
}
#partnersBlockWrapper h1 {
    text-align: center;
    padding: 15px;
}

/*SHIPPED PRODUCTIONS SLIDER*/
shippedProductionWrapper {

}
#shippedSlider {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column-gap: 30px;
    min-width: 1200px;
}
#shippedSlider .arrow {
    text-align: center;
    color: rgb(231,76,60);
    padding-top: 268px;
    transition: 300ms;
    z-index: 2;
}
#shippedSlider .arrow:hover {
    cursor:pointer;
    background: #ffefee;
    transition: 300ms;
}
#shippedSlider #slides {
    height: 600px;
    position: relative;
    overflow: hidden;
}
#shippedSlider #slides .slide {
    position: absolute;
    top: 0;
    /*left: -100%;*/
    width: 100%;
    height: 540px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    transition: 300ms;
}

#shippedSlider #slides .left-side {
    left: -100%;
    transition: 300ms;
}
#shippedSlider #slides .right-side {
    left: 100%;
    transition: 300ms;
}
#shippedSlider #slides .center-side {
    left: 0;
}
#shippedSlider #slides .slide .slide-img {
    overflow: hidden;
}

#shippedSlider #slides .slide .slide-content {
    padding-top: 100px;
}
#shippedSlider #slides .slide .slide-content h2 {
    font-size: 2em;
    padding: 7px 0;
    font-weight: bold;
    color: rgb(231,76,60);
}
#shippedSlider #slides .slide .slide-content p {
    font-size: 1.5em;
    padding: 7px 0;
}
/*MOUNTIONG OPTIONS*/
#mountOptions h1{
    text-align: center;
    padding: 15px 0;
}
#optionsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
#optionsGrid div img {
    width: 100%;
}
#optionsGrid div h2 {
    text-align: center;
}
#optionsGrid div p {
    text-align: center;
}
/*GALLERY OF PRODUCTION*/
#productionGalleryWrapper {
    background: url('../img/ourproductionback.png');
    background-size: cover;
    background-position: center center;
}
#productionGalleryGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-gap: 10px;
}
#productionGalleryWrapper h1 {
    text-align: center;
    padding: 15px 0;
    color: white;
}
#productionGalleryGrid div {
    height: 300px;
}
#productionGalleryGrid div img {
    width: 100%;
}
#productionGalleryContent {
    text-align: justify;
    color: white;
    font-size: 1.2em;
    padding-bottom: 15px;
}
/*OUR CERTIFICATES*/
#ourCertificatesWrapper {
    padding-bottom: 15px;
}
#ourCertificatesWrapper h1 {
    text-align: center;
    padding: 15px 0;
}
#ourCertificates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
}
#ourCertificates div img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/*REVIEWS*/
#reviewsWrapper {
    background: #f1f1f1;
    padding-bottom: 30px;
}
#reviewsWrapper h1 {
    text-align: center;
    padding: 15px 0;
}
#reviewsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 30px;
}
#reviewsGrid div img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}