


* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: lighter;

}
b {
    font-weight: bold;
}
.content {

    width: 1200px;
    margin: 0 auto;
}
.hide {
    display: none;
}
.clear {
    clear: both;
}
/*HEADER*/
#headerGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: rgb(68, 68, 68);

}
#headerGrid div {
    text-align: center;
    padding: 15px;

}
#headerGrid div h2 {
    font-size: 15px;
    font-weight: normal;
}
#headerGrid div h2 b {
    font-size: 20px;
}
#headerGrid div:first-child {
    text-align: left;
}
#headerGrid div:first-child img{
    float: left;
    margin-right: 15px;
}
#headerGrid .email-link {
    color: rgb(231, 76, 60);
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
}
#headerGrid .email-link:hover {
    text-decoration: underline;
}
#headerGrid #number {
        font-size: 22px;
    font-weight: normal;
}
header #menuWrapper {
    background: #232323;
    /*padding: 15px;*/
    border-top: 4px solid rgb(231, 76, 60);
}
header #menu {
    text-align: left;
}
header #menu a {
    color: white;
    text-decoration: none;
}
header #menu .item {
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
header #menu .item:hover {
    background: rgb(231, 76, 60);
}
header #menu .active {
    background: rgb(231, 76, 60);
}
/*MAIN BLOCK*/
#mainBlockWrapper {

    background: url("../img/main-bg.jpg") center center;
    background-size: cover;
    /*height: 750px;*/
    color: white;
    min-height: calc(100vh - 158px);
}
#mainBlockWrapper .title {
    text-align: center;
    padding: 30px 0;
    font-weight: 400;
    font-size: 4em;
    /*text-transform: uppercase;*/
}
#mainBlock #mainGrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#mainGrid ul {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 100px;
    list-style-type: none;
}
#mainGrid ul li {
    padding: 10px 0;
}
#mainGrid ul li img {
    position: relative;
    top: 20px;
}
#mainGrid #advantages {
    text-align: center;

}
#applicationForm h2 {
    text-align: center;
    font-size: 22px;
}
#applicationForm {
    border: 5px solid #feac00;
    background: white;
    border-radius: 20px;
    padding: 20px;
    color: black;
}
#applicationForm input, #applicationForm textarea{
    width: calc(100% - 30px);
    padding: 15px;
    font-size: 1em;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
    /*background: #f4f8ff;*/
}
#applicationForm textarea {
    resize: none;
}
#applicationForm button {
    width: 100%;
    font-size: 1.1em;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    color: black;
    /*font-weight: bold;*/
    background: #feac00;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);
}
#applicationForm button:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    position: relative;
    top: 5px;
    cursor: pointer;
}
/*OUR PRODUCTION BLOCK*/
#ourProductionWrapper {
    /*margin-top: 30px;*/
    background: #f1f1f1;
    padding-bottom: 30px;
}
#ourProductionWrapper h1 {
    text-align: center;
    padding: 15px;

}
#ourProductionWrapper p {
    text-align: center;
}
#ourProductionGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
#ourProductionGrid img {
    width: 100%;
    border-radius: 3px;
    height: 183px;
}

#ourProductionGrid div {
    text-align: center;
    font-size: 1.5em;
}
#ourProductionGrid div p {
    /*width: 70%;*/
    margin: 10px auto;
}
#ourProductionGrid div button , #buttonContent button{
    width: 100%;
    padding: 15px 0;
    border: 0;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 400;
    background: rgb(231, 76, 60);
    color: white;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);

}
#ourProductionGrid div button:hover ,#buttonContent button:hover{
    box-shadow: 0 0 0 rgba(0,0,0,0);
    position: relative;
    top: 5px;
    cursor: pointer;
    transition: 300ms;
}
/*PARTNERS*/
#partnersBlock {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#partnersBlock .img-block img {
    width: 100%;
}
#partnersBlockWrapper h1 {
    text-align: center;
    padding: 15px;
}

/*SHIPPED PRODUCTIONS SLIDER*/
#shippedProduction h1{
    text-align: center;
    padding-top: 15px;
}
#shippedSlider {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column-gap: 30px;
    min-width: 1200px;
}
#shippedSlider .arrow {
    text-align: center;
    color: rgb(231,76,60);
    padding-top: 148px;
    transition: 300ms;
    z-index: 2;
}
#shippedSlider .arrow:hover {
    cursor:pointer;
    background: #ffefee;
    transition: 300ms;
}
#shippedSlider #slides {
    height: 330px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    /*border-bottom: 1px solid black;*/
}
#shippedSlider #slides .slide {
    position: absolute;
    top: 0;
    /*left: -100%;*/
    width: 100%;
    /*height: 540px;*/
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    transition: 300ms;
}

#shippedSlider #slides .left-side {
    left: -100%;
    transition: 300ms;
}
#shippedSlider #slides .right-side {
    left: 100%;
    transition: 300ms;
}
#shippedSlider #slides .center-side {
    left: 0;
}
#shippedSlider #slides .slide .slide-img {
    overflow: hidden;
    height: 300px;
}

#shippedSlider #slides .slide .slide-content {
    /*height: 100%;*/
}
#shippedSlider #slides .slide .slide-content h2 {
    font-size: 2em;
    padding: 7px 0;
    font-weight: bold;
    color: rgb(231,76,60);
}
#shippedSlider #slides .slide .slide-content p {
    font-size: 1.5em;
    /*padding: 7px 0;*/
}
/*MOUNTIONG OPTIONS*/
#mountOptions h1{
    text-align: center;
    padding-bottom: 15px;
}
#optionsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
#optionsGrid div img {
    width: 100%;
}
#optionsGrid div h2 {
    text-align: center;
}
#optionsGrid div p {
    text-align: center;
}
/*GALLERY OF PRODUCTION*/
#productionGalleryWrapper {
    background: url('../img/ourproductionback.png');
    background-size: cover;
    background-position: center center;
}
#productionGalleryGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-gap: 10px;
}
#productionGalleryWrapper h1 {
    text-align: center;
    padding: 15px 0;
    color: white;
}
#productionGalleryGrid div {
    height: 200px;
}
#productionGalleryGrid div img {
    width: 100%;
}
#productionGalleryGrid div img:hover {
    cursor: pointer;
}
#productionGalleryContent {
    text-align: justify;
    color: white;
    font-size: 1.2em;
    padding-bottom: 15px;
}
/*OUR CERTIFICATES*/
#ourCertificatesWrapper {
    padding-bottom: 15px;
}
#ourCertificatesWrapper h1 {
    text-align: center;
    padding: 15px 0;
}
#ourCertificates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
}
#ourCertificates div img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}
/*REVIEWS*/
#reviewsWrapper {
    background: #f1f1f1;
    padding-bottom: 30px;
}
#reviewsWrapper h1 {
    text-align: center;
    padding: 15px 0;
}
#reviewsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 200px;
    grid-row-gap: 30px;
}
#reviewsGrid div img {
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}
/*FOOOTER*/
#footerWrapper {
    background: #2f2f2f;
}
#footerGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
}
#footerGrid div {
    text-align: center;
    padding: 15px;
}
#footerGrid div h2{
    font-size: 20px;
}
#footerGrid div:first-child {
    text-align: left;
}
#footerGrid div:first-child img{
    float: left;
    margin-right: 15px;
}
#footerGrid .email-link {
    color: rgb(231, 76, 60);
    font-size: 22px;
}
#footerGrid #footerNumber {
    font-size: 22px;
}
#popupWrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
#popupWrapper:hover {
    cursor: pointer;
}
#popup {
    max-width: calc(90vw - 30px);
    max-height: calc(90vh - 30px);
    padding: 15px;
    margin: 5vh auto;
    background: white;
    display: inline-block;
}
#popup img.full-img {
    max-width: calc(90vw - 30px);
    max-height: calc(90vh - 30px);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/*ADVANTAGES BLOCK(OWN PRODUCTION)*/
/*#advantagesWrapper h1 {*/
    /*text-align: center;*/
    /*padding: 15px 0;*/
/*}*/
/*#advantagesWrapper {*/
    /*padding-bottom: 30px;*/
/*}*/
#advantagesContent {
    padding-bottom: 30px;
}
#advantagesContent .adv-block {
    padding: 15px 0;
    color: white;
}
#advantagesContent .adv-block p{
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0;
    /*height: 55px;*/
    vertical-align: middle;
}
#advantagesContent .adv-block img {
    float: left;
    width: 70px;
    /*height: 55px;*/
    margin-right: 15px;
}
/*FEED BACK*/
#formWrapper {
    background-size: contain;
    background: url('../img/feedbackbg.png') center center;
    padding: 15px;
    color: white;
}
#formWrapper h1,
#formWrapper h2 {
    text-align: center;
    padding: 15px;
}
#formContent {
    text-align: center;
}
#formContent input[type=text],
#formContent input[type=number]
{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid grey;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
#formContent button {
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 400;
    background: rgb(231, 76, 60);
    color: white;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    text-align: center;
    position: relative;
    top: 1px;
}
#formContent button:hover {
    background: #af3d31;
    cursor: pointer;
}
/*DEAD LINES*/
#deadlinesWrapper {
    background: #f1f1f1;
    padding: 10px;
}
#deadlinesWrapper h1,
#deadlinesWrapper h2 {
    text-align: center;
    padding: 10px;
}
/* BUTTON FOR DOWLNOAD CHARACS  */
#buttonContent button {
    font-size: 1.2em;
}
#buttonContent {
    padding: 30px;
}
/*CONTACTS BLOCK*/

#contactsBlock {
    min-height: calc(100vh - 269px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
}
#contactsBlock h2 {
    color: rgb(231, 76, 60);
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
}
#contactsBlock p {
    text-align: center;
    padding: 15px 0;
}
#contactsBlock #number {
    font-size: 1.5em;
}
#contactsBlock #linkToMail a{
    color: #e74c3c;
    text-decoration: none;
    font-size: 1.2em;
}
#contactsBlock #linkToMail a:hover {
    text-decoration: underline;
}